.App {
  font-family: 'Courier New', Courier, monospace;
  background-color: #545a66;
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
} 

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: rgb(255, 255, 255);
  animation: titulo 3s linear;
}

@keyframes titulo {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 1;
  }
}

