.App {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

.App-header {
  background: rgb(42, 49, 65);
  font-size: calc(10px + 2vmin);
  color: white;
} 

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.h1Animado{
  animation: titulo 3s linear;
}

@keyframes titulo {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 1;
  }
}

