.VaciarCarritoContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.VaciarCarrito{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    background-color: antiquewhite;
    border-radius: 16px;
    border-style: none;
}

.VaciarCarrito p{
    color: rgb(102, 18, 18); 
    font-size: 1.5em;
    margin: 10px 0px;
}

.VaciarCarrito .tacho{
    font-size: 1.5em;
    margin: 10px 10px;
    color: rgb(102, 18, 18); 
}
