.VaciarCarritoContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.VaciarCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: aliceblue;
    border-radius: 16px;
    border-style: none;
}

.VaciarCarrito p{
    color: black;
}

.VaciarCarrito .tacho{
    margin-left: 5px;
    height: 3vh;
}
