.List{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Listh1Container{
    margin: 9px 0px 40px 0px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 5px 10px;
    box-shadow: 2px 3px 21px 23px rgba(0,0,0,0.75);
}

.Listh1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(247, 247, 247);
    font-size: 4.3em;
    
}

.CardSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    margin-bottom: 100px;
}