.List{
    margin-top: 30px;
}

.Listh1{
    font-family: 'Courier New', Courier, monospace;
    animation: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
    background-color: rgba(61, 61, 207, 0.593);
}

.CardSection{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
}