.ProductOnCart{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0px 9px 19px -6px rgba(0,0,0,1);
    margin-top: 20px;
    min-width: 80vw;
    font-size: 1.6rem;
}

.ProductOnCart div{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.name{
    font-weight: bolder;
}

.Delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Delete button{
    border-style: none;
    color: white;
    background-color: rgb(102, 18, 18); 
    padding: 5px 15px;
    border-radius: 16px;
}
