.ListDetail h1{
    font-family: 'Courier New', Courier, monospace;
    animation: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
}

.ListDetail h2{
    /* margin-top: 10px; */
    text-align: center;
    color: aliceblue;
    font-size: 55px;
}

.CardSectionOfDetail{
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    color: aliceblue;
    font-size: 30px;
}
.CardSectionOfDetail p{
    margin: 10px 0;
}

.CardSectionOfDetail img{
    height: 50vh;
    margin: 20px 0;
}

.ShowAndSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShowAndSelection .EndBuy{
    text-decoration: none;
    color: beige;
}

.ShowAndSelection .EndBuy:hover{
    font-size: 35px;
    transition: font-size 0.2s;
}

.Detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    margin-left: 50px;
    flex-grow: 1;
    text-align: center;
    font-size: 35px;
}

.Detalles p{
    background-color: rgba(61, 61, 207, 0.593);
}

.Detalles h1{
    background-color: rgba(25, 25, 128, 0.768);
}