.ListDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListDetailh2Container{
    margin: 50px 0px 40px 0px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.753);
    box-shadow: 2px 3px 21px 23px rgba(0,0,0,0.75);
}

.ListDetailh2Container h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 55px;
    margin: 0;
}


.ListDetail h1{
    animation: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
}

.CardSectionOfDetail{
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    color: aliceblue;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.493);
    box-shadow: 2px 0px 56px 12px rgba(0,0,0,0.75);
    margin: 50px 0px 100px 0px;
}

.CardSectionOfDetail p{
    margin: 10px 0;
}

.CardSectionOfDetail img{
    height: 50vh;
    margin: 20px 0;
}

.ShowAndSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShowAndSelection .EndBuy{
    text-decoration: none;
    font-weight: 500;
    color: beige;
}

.ShowAndSelection .EndBuy:hover{
    color: rgb(126, 201, 245);;
    transition: color 0.2s;
}

.Detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    margin-left: 50px;
    flex-grow: 1;
    text-align: center;
    font-size: 35px;
}

.Detalles p{
    background-color: rgba(0, 0, 0, 0.493);
    box-shadow: 2px 0px 56px 12px rgba(0,0,0,0.75);
}

.Detalles h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.493);
    box-shadow: 2px 0px 56px 12px rgba(0,0,0,0.75);
    font-size: 2em;
}