.CarWidget{
    color: #fff;
    text-decoration: none;
    display: flex;
}

.cartLogo{
    font-size: 30px;
}

.CarWidget p{
    margin: 0;
    background-color: rgb(109, 109, 243);
    height: 16px;
    width: 18px;
    border-radius: 15px;
}
