.CarWidget{
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-right: 60px;
    margin-left: 30px;
}

.cartLogo{
    font-size: 30px;
}

.CarWidget p{
    margin: 0;
    text-align: center;
    padding: 2px;
    background-color: rgb(109, 109, 243);
    height: 16px;
    width: 18px;
    border-radius: 15px;
}
