.CartTitle{
    margin-top: 8vh;
}

p{
    text-align: center;
    color: white;
}

.CartItemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CartEmpity{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LinkCartEmpity{
    text-decoration: none;
    color: white;
    background-color:rgb(40, 42, 44);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
}