.NavBar{
  display: flex;
  align-items: center;
  background: rgb(84,90,102);
  background: linear-gradient(0deg, rgba(84,90,102,1) 0%, rgba(40,44,52,1) 52%);
  justify-content: space-between;
  height: 13vh;
}

/*logo y texto inferior*/
.reactHead{
  margin: 0;
  width: 20vw;
}

.empaquetador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7vw;
}

.App-logo{
  margin-top: 5px;
  height: 50px;
  width: auto;
}

.presentation{
  text-align: center;
  font-size: 13px;
  color: rgb(111, 196, 230);
  margin: 5px 0 10px 0;
}
/*-------------------*/

.elementsHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.Listado{
  color: 
  rgb(173, 168, 168);
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.Listado li{
  margin-right: 60px;
}

.Listado li:hover{
 color: #fff;
 font-weight: bolder;
 transition: color 0.3s;
}

.divBotones{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
}

.botonNavBar{
  font-family: 'Courier New', Courier, monospace;
  margin:  0 10px;
  border: none;
  border-radius: 16px;
  width: 50%;
  padding: 12px;
  background: #26a;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
}  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
} 
  