.NavBar{
  display: flex;
  align-items: center;
  background: rgb(42, 49, 65);
  justify-content: space-between;
  height: 15vh;
}

/*logo y texto inferior*/
.empaquetador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7vw;
}

.App-logo{
  margin-top: 5px;
  height: 50px;
}

.presentation{
  text-align: center;
  font-size: 13px;
  color: rgb(111, 196, 230);
  margin: 5px 0 10px 0;
}
/*-------------------*/


/*lCategorías*/
.elementsHead{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  flex-grow: 1;
}

.Listado{
  flex-grow: 1;
  color:  rgb(173, 168, 168);
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.ListadoHijo{
  margin-right: 60px;
  text-decoration: none;
  color: rgb(201, 201, 201);
}

.ListadoHijo:hover{
 color: #fff;
 font-weight: bolder;
 transition: color 0.3s;
}
/*-------------------*/

.divBotones{
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  /* width: 20vw; */
}

.botonMain{
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
}  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
} 
  