.NavBar{
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(18,63,154,0) 1%, rgba(12,38,92,0.38139005602240894) 7%, rgba(7,20,46,0.742734593837535) 14%, rgba(7,20,46,1) 30%);
  height: 15vh;
}

.divTitle {
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
} 

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.botonMain{
  text-decoration: none;
}

.h1Animado{
  font-family: 'Splash', cursive;
  font-weight: 400;
  color: rgb(126, 201, 245);
  font-size: 2.7em;
}

.empaquetador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7vw;
}

.App-logo{
  margin-top: 5px;
  height: 50px;
}

.presentation{
  text-align: center;
  font-size: 13px;
  color: rgb(111, 196, 230);
  margin: 5px 0 10px 0;
}

.elementsHead{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  flex-grow: 1;
}

.Listado{
  flex-grow: 1;
  color:  rgb(173, 168, 168);
  padding: 0;
  display: flex;
  justify-content: center;
}

.ListadoHijo{
  margin-right: 100px;
  font-size: 1.85em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

.ListadoHijo:hover{
 color: rgb(126, 201, 245);;
 transition: color 0.2s;
}

.divBotones{
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
}  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
} 
  