.ItemList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.comingSoon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 16px;
    background-color: #282c34;
}

.comingSoon p{
    margin: 15px 5px;
    text-align: center;
}

.LoadingContainer{
    margin-top: 325px;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.LoadingIcon{
    color: white;
    font-size: 70px;
    animation: Load-logo-spin infinite 1s linear;
}

@keyframes Load-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
     transform: rotate(360deg);
    }
} 